<h2 class='game--status {{this.nowPlaying}}'>{{this.status}} </h2>

<div class='game--grid' {{on 'click' this.click}}>
  {{!-- <div data-cell-id='0' class='cell {{this.grid[0]}}'></div> --}}
  <div data-cell-id='0' class='cell'></div>
  <div data-cell-id='1' class='cell'></div>
  <div data-cell-id='2' class='cell'></div>
  <div data-cell-id='3' class='cell'></div>
  <div data-cell-id='4' class='cell'></div>
  <div data-cell-id='5' class='cell'></div>
  <div data-cell-id='6' class='cell'></div>
  <div data-cell-id='7' class='cell'></div>
  <div data-cell-id='8' class='cell'></div>
</div>