<nav class='menu'>
  <div class='menu-left'></div>
  <div class='title'>
    <LinkTo @route='index' class='menu-index'>
      <h1>Tic-Tac-Toe</h1>
    </LinkTo>
  </div>
  <div class='menu-right'>
    <LinkTo @route='how-to-play' class='menu-how-to-play'>
      <span class='material-icons'>help_outline</span>
    </LinkTo>
  </div>
</nav>