<div class='mdc-touch-target-wrapper'>
  <button
    class='mdc-button mdc-button--touch restart'
    aria-label='Play again'
    type='button'
  >
    <span class='mdc-button__ripple'></span>
    <span class='mdc-button__touch'></span>
    <span class='mdc-button__label'></span>
  </button>
</div>