<h2 class='game--status o'>Current turn: </h2>

<div class='game--grid'>
  <div data-cell='1' class='cell x'></div>
  <div data-cell='0' class='cell x'></div>
  <div data-cell='2' class='cell x'></div>
  <div data-cell='3' class='cell o'></div>
  <div data-cell='4' class='cell o'></div>
  <div data-cell='5' class='cell x'></div>
  <div data-cell='6' class='cell o'></div>
  <div data-cell='7' class='cell x'></div>
  <div data-cell='8' class='cell x'></div>
</div>

<div class='mdc-touch-target-wrapper'>
  <button
    class='mdc-button mdc-button--touch restart inactive'
    aria-label='Play again'
  >
    <span class='mdc-button__ripple'></span>
    <span class='mdc-button__touch'></span>
    <span class='mdc-button__label'></span>
  </button>
</div>